a,
a:focus,
a:hover {
  color: #fff;
}

.cover-container {
  width: 100vw;
  height: 100vh;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 0.05rem solid #fff;
}

/*
 * Cover
 */
.cover {
  padding: 0 2rem;
}
