
  .containers {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
  }
  
  .containers div {
    flex: 1;
    height: 100vh;
    transition: flex 0.5s ease-out;
    color: white;
    text-align: center;
  }
  .containers div h1 {
    padding-top: 40vh;
    transition: color 0.3s ease-out;
  }
  .containers div:hover {
    flex: 1.5;
  }

  .containers .left  a {
    color: white;
  }
  .containers .right a {
    color: white;
  }
  
  .containers .left {
    background: #ffc107;
  }
  .containers .left:hover h1 {
    color: #343a40;
  }

  .containers .left:hover a {
    color: #343a40;
  }

  .containers .left:hover p{
    color: #343a40;
  }
  .containers .right {
    background: #343a40;
  }
  .containers .right:hover h1 {
    color: #ffc107;
  }

  .containers .right:hover a {
    color: #ffc107;
  }

  .containers .right:hover p {
    color: #ffc107;
  }